<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/home"></ion-back-button>
      </ion-buttons>
    <ion-title>My Todo List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-list-header>
      <ion-label>Tasks</ion-label>
    </ion-list-header>
  <ion-list>
    
    <ion-item button *ngFor="let todo of (todos | async)" [routerLink]="['/details', todo.id]">
      <ion-note slot="start" color="secondary">{{ todo.createdAt | date: 'short' }}</ion-note>
      {{ todo.task }}
      
      <ion-note slot="end" color="primary">{{ todo.priority }}</ion-note>
    </ion-item>
    
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/details" routerDirection="forward">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
