<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Slideshow
    </ion-title>
  </ion-toolbar>
</ion-header>
<div class="box-container" fxLayout="column">

  <div class="content-container">
    <swiper class="swiper-container" [config]="config">
      <div class="swiper-slide" style="background-image:url(../../../../assets/images/earth.jpg)"></div>
      <div class="swiper-slide" style="background-image:url(../../../../assets/images/KDXVZ774KE.jpg)"></div>
      <div class="swiper-slide" style="background-image:url(../../../../assets/images/kuala-lumpur-urban-night-building-53436.jpeg)"></div>
      <div class="swiper-slide" style="background-image:url(../../../../assets/images/ladyincity.jpeg)"></div>
      <div class="swiper-slide" style="background-image:url(../../../../assets/images/pexels-photo-710309.jpeg)"></div>
      <div class="swiper-slide" style="background-image:url(../../../../assets/images/pexels-photo-799420.jpeg)"></div>
      <div class="swiper-slide" style="background-image:url(../../../../assets/images/lake-evening-sunset-abendstimmung-57705.jpeg)"></div>
      <div class="swiper-slide" style="background-image:url(../../../../assets/images/image3.jpg)"></div>
      <div class="swiper-slide" style="background-image:url(../../../../assets/images/petronasnight.jpeg)"></div>
      <div class="swiper-slide" style="background-image:url(../../../../assets/images/photo-1465451104912-cf7867a3539e.jpg)"></div>
    </swiper>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
  </div>

</div>