<ion-content force-overscroll="false">
  <gl-background-video src="assets/background-video/Raindrops-video.mp4" poster="assets/background-video/Raindrops-video-image.png"></gl-background-video>
  <div class="page-centered-element">
    <div class="content">
      <h1>Welcome</h1>
      <h5>This is a sample page</h5>
      <div class="buttons-container">
        <ion-button>Login</ion-button>
      </div>

      <div class="buttons-nav">
        <ion-button routerLink="/">Home</ion-button>
      </div>
    </div>
  </div>
</ion-content>
