<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
    
      <ion-icon size="large" slot="end" name="color-fill"></ion-icon>
  
  </ion-toolbar>
</ion-header>

<ion-content [scrollEvents]="true" parallaxHeader="https://ununsplash.imgix.net/photo-1421091242698-34f6ad7fc088?fit=crop&fm=jpg&h=650&q=75&w=950" [parallaxHeight]="400">
	<ion-button expand="block" color="medium" (click)="changeTheme('autumn')">Autumn</ion-button>
    <ion-button expand="block" color="medium" (click)="changeTheme('night')">Dark</ion-button>
    <ion-button expand="block" color="medium" (click)="changeTheme('neon')">Neon</ion-button>
    <ion-button expand="block" color="medium" (click)="changeTheme('')">Default</ion-button>
    <hr>

    <ion-button color="primary">Primary</ion-button>
    <ion-button color="secondary">Secondary</ion-button>
    <ion-button color="tertiary">Tertiary</ion-button>
    <ion-button color="medium">Medium</ion-button>
    <ion-button color="dark">Dark</ion-button>

    <ion-button color="primary" class="foo">Foo</ion-button>
    <hr>
    <ion-checkbox color="primary" checked></ion-checkbox>
    <ion-checkbox color="secondary"></ion-checkbox>
    <ion-checkbox color="danger" checked></ion-checkbox>
    <ion-checkbox color="dark" checked></ion-checkbox>
</ion-content>
<div>
Test content 
Test content
Test content
Test content 
Test content
</div>
